tools/*.gz
tools/*.bz2
tools/*.asc
tools/*.sig
*.o
*.a
*.pyc
kernel.bin
*.img
*.iso
.*.swp
*.old
*.bak
*~
.sconsign.dblite
CMakeCache.txt
CopyOfCMakeCache.txt
CMakeFiles
cmake_install.cmake
ChrisOS_config.h
/kernel/kernel
/kernel/kernel-stripped.bin
/kernel/kernel.sym
