tools/*.gz
tools/*.bz2
tools/*.asc
tools/*.sig
*.o
*.a
kernel.bin
*.img
*.iso
.*.swp
*.old
*.bak
CMakeCache.txt
CopyOfCMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile
ChrisOS_config.h
kernel/kernel
